

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/login.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
</body>
<form method="POST">
<br />


<div class="login-box">
  <div class="form-group" class="register-box" >
   <label for="email">Email Address</label>
   <input
    type="email"
    class="form-control"
    id="email"
    name="email"
    placeholder="Enter email" required
  />
</div>
<div class="form-group">
  <label for="password">Password</label>
  <input
    type="password"
    class="form-control"
    id="password1"
    name="password"
    placeholder="Enter password" required 
  />
</div>
<br />

<a href="{{ url_for('auth.signup') }}" class="register-btn">Sign Up</a>
<h4> don't have a account? to make one press Sing Up</h4>

<br />
<br />

</form>
</html>
{% endblock %}
